<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam delectus, rem tempore cupiditate recusandae obcaecati minus assumenda perferendis suscipit nisi ad est odio eius iusto culpa temporibus aliquam necessitatibus? Nam nemo dignissimos reiciendis excepturi id, et, cum laborum tempora ea ducimus rem in atque quasi reprehenderit. Repellat esse veniam repudiandae et, quas odio officiis assumenda vel, quos officia optio ducimus quaerat delectus fugit, ut culpa est sed magnam exercitationem! Quis quibusdam sed odio nulla consequuntur beatae tempore commodi incidunt, deserunt ratione aut tenetur vero itaque veniam architecto harum. Quod aliquam adipisci fuga debitis repudiandae ratione nemo dolor commodi, enim quos.
    </div>
</article>